<div class="border-end border-warning h-150 bg-dark">
    <div class="text-center">
        <img src="/images/study.webp" alt="cat" class="img-fluid rounded-circle mt-4">
        <h3 class="text-white mt-3 st-font">Online Tests</h3>
    </div>
    <nav class="nav flex-column text-center mt-4">
                
        <a href="/" class="nav-link text-white <% if( page_name == 'Home') {%> active <% } %>">Home</a>
        <a href="/admin" class="nav-link text-white <% if(page_name == 'admin') {%> active <% } %>">Admin</a>
        <a href="/contacts" class="nav-link text-white <% if(page_name == 'contacts') {%> active <% } %>">Contacts</a>

    
    </nav>
    </div>