<%- include('./partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-2">
           <%- include('./partials/sideBar.ejs', {page_name: ''}) %>
            </div>
        
        <div class="col-sm-10">
            <!--Main Content-->
            <div class="txt-uc">
            <h1>Sorry! This website is underconstruction.</h1>
            </div>
        </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>


